body{
    margin:0;
    text-align:center;
    font-family: 'Merriweather', serif;
}
.top_container{
    background-color:#e4f9f5;
    position:relative;
    padding-top:100px;
    
}
/* .middle_container{                                               
    
}
.bottom_container{
   
   
} */
.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:300px;
}
.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}
.skill-row{
    width:50%;
    margin:50px auto 50px auto;
    line-height:2;
    text-align:left;
}
.console-img{
    width:25%;
    float:right;
    margin-left:30px;
}
.coding-img{
    height:25%;
    width:25%;
    float:left;
    margin-right:30px;
}


/**************** BLOCK ELEMENTS ****************/
h1{
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size:5.625rem;                /* 90px/16 X 100 , 16px=100%=1em */ 
    color:#66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color:#66BFBF;
    font-weight:lighter;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
    font-size:26px;
}
.pro{
    text-decoration: underline;
}

